# Introduction to Python Programming

## Table of Contents

- [Why Python](#why-python)
- [Data Types and Operators](#data-types-operators)

## Data Structures
<a id="data-types-operators"></a>

The basic data types in python are `integers, floats, booleans and strings`. A good understanding these basic types provides a rich foundation for compound and complex programs.

### TLDR;

- Numeric types are either by nature whole (i.e. integers) or contain decimal places (floats).
- You can perform arithmetics on integers and floats.
- Booleans e.g. True and False are conditions that could influence the flow of a program

### List

In python, numbers might be whole (**integers**) or might contain decimal places (**floats**). We can use these types to represent attributes like age, height, weight as well as concepts like temperature, price and so on.

#### Creation

Either by literal typing e.g 15, 23, 56, etc or by using the `int` or `float` function.

#### Operations

The most basic operation we perform with these types is arithmetics. For example:

In [3]:
# Addition (with the + operator)
2 + 6

8

In [4]:
# Multiplication
4 * 9

36

In [57]:
names = ["John", "Peter", "Mary", "Faith", "Edna"]

In [58]:
names

['John', 'Peter', 'Mary', 'Faith', 'Edna']

In [59]:
numbers = [1, 2, 3, 4, 5]

In [60]:
numbers

[1, 2, 3, 4, 5]

In [61]:
mixed = [1, "1", "name", "whatever"]

In [62]:
empty = list()

In [64]:
empty

[]

In [68]:
empty = []

In [69]:
empty

[]

In [70]:
range(10)

range(0, 10)

In [65]:
num_1_10 = list(range(1, 11))

In [66]:
num_1_10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
list("name")

['n', 'a', 'm', 'e']

In [75]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [77]:
[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [72]:
names = ['John', 'Peter', 'Mary', 'Faith', 'Edna']

In [73]:
names.append('Favour')
names.append('Comfort')

In [74]:
names

['John', 'Peter', 'Mary', 'Faith', 'Edna', 'Favour', 'Comfort']

In [75]:
names.pop()

'Comfort'

In [76]:
names

['John', 'Peter', 'Mary', 'Faith', 'Edna', 'Favour']

In [77]:
names.pop(0)

'John'

In [78]:
names

['Peter', 'Mary', 'Faith', 'Edna', 'Favour']

In [79]:
names.pop('Peter')

TypeError: 'str' object cannot be interpreted as an integer

In [87]:
names.pop(0)

'John'

In [88]:
names

['Peter', 'Mary', 'Faith']

In [80]:
numbers

[1, 2, 3, 4, 5]

In [81]:
numbers.reverse()

In [82]:
numbers

[5, 4, 3, 2, 1]

In [93]:
reversed_345 = numbers[:3]
reversed_345.reverse()

new = numbers[3:]
# new.append(reversed_345)
# new

reversed_345 + new

[3, 4, 5, 2, 1]

In [94]:
for name in names:
    f = "The name is {} and it is {} letters long"
    print(f.format(name, len(name)))

The name is Peter and it is 5 letters long
The name is Mary and it is 4 letters long
The name is Faith and it is 5 letters long
The name is Edna and it is 4 letters long
The name is Favour and it is 6 letters long

In [95]:
for letter in "Boy":
    print(letter)

B
o
y

In [96]:
# List slicing

names[0]

'Peter'

In [104]:
names[-1]

'Faith'

In [97]:
my_tuple = (1, 3)

In [98]:
type(my_tuple)

tuple

In [98]:
my_tuple

(1, 3)

In [100]:
single = 1,

In [101]:
print(names)
numbers

['Peter', 'Mary', 'Faith', 'Edna', 'Favour']

[5, 4, 3, 2, 1]

In [102]:
names, numbers

(['Peter', 'Mary', 'Faith'], [5, 4, 3, 2, 1])

In [102]:
names_tuple = tuple(names)

In [103]:
names_tuple

('Peter', 'Mary', 'Faith', 'Edna', 'Favour')

In [104]:
type(names), type(names_tuple)

(list, tuple)

In [105]:
names[0]

'Peter'

In [109]:
names[0] = "Samson"

In [110]:
names

['Samson', 'Mary', 'Faith']

In [111]:
names_tuple[0] = "Samson"

TypeError: 'tuple' object does not support item assignment

In [112]:
names_tuple

('Peter', 'Mary', 'Faith')

In [106]:
names_tuple[0]

'Peter'

In [115]:
names_tuple[0:2]

('Peter', 'Mary')

In [107]:
names_tuple.append('John')

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
list(names_tuple)

['Peter', 'Mary', 'Faith']

In [109]:
names[2] = "Josh"
names

['Peter', 'Mary', 'Josh', 'Edna', 'Favour']

In [110]:
names_tuple[2] = "Josh"

TypeError: 'tuple' object does not support item assignment

In [113]:
# Tuple unpacking
print(names_tuple)
name1, name2, name3 = names_tuple[:3]

('Peter', 'Mary', 'Faith', 'Edna', 'Favour')

In [114]:
name1

'Peter'

In [115]:
name2

'Mary'

In [116]:
name3

'Faith'

In [117]:
n1, n2, n3 = (1, 2, 3)

print(n1)
print(n2)
n3

1
2

3

In [121]:
"This is {}, {}, and {}".format(names_tuple[0], names_tuple[1], names_tuple[2])

'This is Peter, Mary, and Faith'

In [118]:
"This is {}, {} and {}".format(*names_tuple[:3])

'This is Peter, Mary and Faith'

In [124]:
"This is {} and {}".format(name1, name2)

'This is Peter and Mary'

In [123]:
# Sets

In [121]:
numbers = [1, 2, 2, 3, 3, 5, 5, 4, 4, 2, 5]

numbers_set = set(numbers)

numbers_set

{1, 2, 3, 4, 5}

In [122]:
numbers_set_2 = {1, 2, 3}

In [123]:
type(numbers_set), type(numbers_set_2)

(set, set)

In [130]:
empty_set = {}
type(empty_set)

dict

In [131]:
empty_set = set()
type(empty_set)

set

In [134]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_3 = {4, 5}
set_4 = {6, 7}

In [133]:
set_1.union(set_2)

{1, 2, 3, 4, 5}

In [135]:
set_1.union(set_4)

{1, 2, 3, 4, 5, 6, 7}

In [136]:
set_1.intersection(set_2)

{1, 2, 3}

In [137]:
set_1.intersection(set_3)

{4, 5}

In [138]:
set_2.difference(set_3)

{1, 2, 3}

In [139]:
set_1.update(set_4)

In [140]:
set_1

{1, 2, 3, 4, 5, 6, 7}

In [124]:
# Dictionaries
# Control Flow

In [125]:
# Dictionaries

items = { "pen": 30, "chalk": 20, "book": 45 }

In [126]:
items

{'pen': 30, 'chalk': 20, 'book': 45}

In [127]:
type(items)

dict

In [128]:
empty_dict = {}

In [129]:
key_types = {"string": 1, 1 : 5, (5,): "tuple" }

key_types

{'string': 1, 1: 5, (5,): 'tuple'}

In [130]:
key_types_fail = { [1, 2]: "whatever" }

TypeError: unhashable type: 'list'

In [131]:
my_dict = dict(a = 1, b = 2)
my_dict

{'a': 1, 'b': 2}

In [132]:
my_dict['a']

1

In [133]:
my_dict['b']

2

In [134]:
my_dict['c'] = 3

my_dict

{'a': 1, 'b': 2, 'c': 3}

In [135]:
del my_dict['b']

my_dict

{'a': 1, 'c': 3}

In [137]:
my_dict['boy'] = 3
my_dict

{'a': 1, 'c': 3, 'boy': 3}

In [138]:
my_dict['a']

1

In [139]:
my_dict.get('a')

1

In [161]:
# my_dict['z']
my_dict.get('z', 9)

9

In [143]:
my_dict.get('a', 0)

1

In [144]:
my_dict.keys()

dict_keys(['a', 'c', 'boy'])

In [145]:
my_dict.values()

dict_values([1, 3, 3])

In [146]:
my_dict.items()

dict_items([('a', 1), ('c', 3), ('boy', 3)])

In [147]:
for key in my_dict.keys():
    print(key)

a
c
boy

In [148]:
for value in my_dict.values():
    print(value)

1
3
3

In [149]:
# k = key, v = value
for k, v in my_dict.items():
    print('{} = {}'.format(k, v))

a = 1
c = 3
boy = 3

In [157]:
doc = "This is a boy boy boy is whatever this is"

doc = doc.split(' ')

In [165]:
words_count = {}

for word in doc:
    word = word.lower()
    value = words_count.get(word, 0) + 1
    words_count[word] = value
    
words_count

{'this': 2, 'is': 3, 'a': 1, 'boy': 3, 'whatever': 1}

In [166]:
my_dict

{'a': 1, 'c': 3, 'boy': 3}

In [168]:
my_dict.update({ 'a': 5, 'd': 7 })

my_dict

{'a': 5, 'c': 3, 'boy': 3, 'd': 7}