# Introduction to Python Programming

## Table of Contents

- [Why Python](#why-python)
- [Data Types and Operators](#data-types-operators)
    - [Integers and Floats](#ints-floats)
    - [Boolean Data Type](#bool)
    - [Strings](#strings)
- [Types and Type Conversions](#types)

## Why Python
<a id="why-python"></a>
You would want to learn python because it:

- has easy / concise / readable syntax,
- is interpreted - You see the results of your program without needing compilation,
- supports programming paradigms (procedural, object oriented, functional),
- has versatile use (web, data analytics, ML, embedded, desktop, security etc.) and
- is popular

## Installing Python

Go to [here](https://www.python.org/downloads/) to download python for your operating system e.g Windows OS. Then click the download file and follow the prompt to install it. In the installation prompt, make sure you check **Add Python to PATH** so you can assess the program anywhere when using the commandline and to make it easier for code editors like [VSCode](https://code.visualstudio.com/download) to find and use python.

Next, install a code editor like [VSCode](https://code.visualstudio.com/download) or an IDE like [Pycharm](https://www.jetbrains.com/pycharm/). They make writing python easier. VSCode is lighter and should be used especially when you're using a not-so-fast machine.

## Data Types and Operators
<a id="data-types-operators"></a>

The basic data or value types in python are `integers, floats, booleans and strings`. A good understanding these basic types provides a rich foundation for writing compound and complex programs.

**Note: There is a special type called `None`. It represents the absence of a value.**

### TLDR;

- Numeric types are either by nature whole (i.e. `integers`) or contain decimal places (`floats`).
- You can perform **arithmetics operations** on integers and floats using `+ - * / %`.
- Booleans e.g. True and False are used to influence the direction or flow of a program.
- Comparison operators (`> < >= <= == !=`) and logical operators (`and or not`) yield booleans.
- Strings are **immutable sequences** of characters enclosed in single or double  quotes.
- Common string operations include concatenation, indexing and slicing.
- Common string methods include `replace`, `strip`, `format`, `lower`, `upper` and `title`.
- To check the type of a value, use the `type`function.
- `int`, `float` and `str` can be used for type conversions.

### Integers and Floats
<a id="ints-floats"></a>

In python, numbers might be whole (**integers**) or might contain decimal places (**floats**). You can use these types to represent attributes like _age_, _height_, _weight_ as well as concepts like _temperature_, _price_ and so on. Addition information can be found [here](https://docs.python.org/3/library/stdtypes.html).

#### Creation

You can type the number literally e.g 15, 23, 56, etc or use the `int` or `float` function (more on this later).

In [1]:
# Age in years
age = 54

# let's say height in feet
height = 7.2

>The line beginning with *#* is called a **comment**. Python ignores it. So you can use it document your code for yourself and others.

>`age` and `height` above are called **variables**. A variable in python is created using the assignment operator (`=`). There are rules for naming variables. Basically, they shouldn't be **reserved keywords** in python and should start with letters and underscores but not numbers. Read [here](https://realpython.com/lessons/reserved-keywords/) for more information.

#### Operations

The most basic operation we perform with these types is **arithmetics**. For example:

In [2]:
# Addition (with the + operator)
2 + 6

8

In [3]:
# Multiplication
4 * 9

36

> The arimethic operators include `+, -, *, /, %`. The modulo (%) operator is used for **remainder** division. For example, you can use it to check if a number is *even* or *odd* or a *multiple of 5* and so on.

In [4]:
# Normal division

10 / 3

3.3333333333333335

In [5]:
# The remainder of 8/3 is 2
8 % 3

2

In [6]:
#============ Try yours ===============

>In order to use the `integers` and `floats` in several places as well as to communicate your intent, you need to give them a name or asign them to a **variable**. This is applicable to every other data types.

In [7]:
number_of_fish = 20

temp_celcius = 100

amount = 5.2

In [8]:
total_price = number_of_fish * amount

total_price

104.0

### Boolean Data Type
<a id="bools"></a>
This represents the truthiness of a value. Simply, `True` and `False`

#### Creation

In [9]:
#1 By literal boolean assignment

is_sweet = True
is_bitter = False

print(is_sweet, is_bitter)

#2 From the result of a comparison or logical operation

# comparison
three_is_bigger_than_2 = 3 > 2
print(three_is_bigger_than_2)

# logical
is_bitter and is_sweet

True False
True

False

#### Operations

The comparison operators includes equal `==`, not-equal `!=`, less-than `<`, greater-than `>`, greater-than-or-equal `>=`, and less-than-or-equal `<=`.

In [10]:
3 == 3

True

In [11]:
6 != 7

True

In [12]:
8 > 18

False

In [13]:
2 < 10

True

In [14]:
# what's the answer
100 >= 45

True

In [15]:
number_1 = 45
number_2 = 67

number_1 <= number_2

True

The logical operators includes `and`, `or` and `not`. For a `and operation` to be true, **both sides or operands must be true**. For an `or operation` to be true, **one side (operand) just needs to be true**.

- True  `and` True  is True
- True  `and` False is False
- False `and` True  is False
- False `and` False is False
<br />

- True  `or` True  is True
- True  `or` False is True
- False `or` True  is True
- False `or` False is False

In [16]:
is_sweet and is_bitter

False

In [17]:
is_sweet or is_bitter

True

### Strings
<a id="strings"></a>

A string is a set of characters (letters, numbers and symbols) surrounded by single `''` or double `""` quotes. They are very useful for identifying and grouping items in data analytics (e.g categorical data are often strings) as well as in reports. A major property of strings is that they are **immutable**. Strings are also **ordered sequences** and can be counted.
>**Ordered Sequence**: This means that the elements in the sequence all have a position or **index**. The first element has an index value 0.

#### Creation

In [18]:
# using double quotes
name = "John Doe"
occupation = "Data analyst"

In [19]:
# using single quotes

address = 'somewhere beyond the earth'

In [20]:
# Why this? Read about escaping strings or escape sequence. Google is your friend

"Hello 'John'"

'Hello "John"'

'Hello \'John\''

"Hello \"John\""

'Hello "John"'

#### Operations

##### Counting

In [21]:
len(address)

26

##### Concatenation (adding strings)

In [22]:
#1 with the + operator

"Hello my name is" + " " + name + "." + "I am a a" + occupation

'Hello my name is John Doe.I am a aData analyst'

In [23]:
#2 placing string literals side by side

"Hello my name is " "John"

'Hello my name is John'

In [24]:
#3. Using string format method

"My name is {} and I work as a {}. I live {}!".format(name, occupation, address)

'My name is John Doe and I work as a Data analyst. I live somewhere beyond the earth!'

In [25]:
# using the * operator

name * 5

'John DoeJohn DoeJohn DoeJohn DoeJohn Doe'

##### Indexing and Slicing

In [26]:
# indexing
# The letter in the 3rd position is 'h'
name[2]

'h'

In [27]:
print('First position:', name[0])

# last position
print('Last position:', name[-1])

First position: J
Last position: e

In [28]:
# Slicing

# take from 1st to 3rd (inclusive)

name[0: 3]

'Joh'

In [29]:
# slice from 4th to the end
name[3: ]

'n Doe'

#### Practice Indexing and Slicing

#### String methods

In [30]:
# replace
new_name = name.replace("John", "Mary")

new_name

'Mary Doe'

In [31]:
# The original name is not affected
name

'John Doe'

In [32]:
# upper
name.upper()

'JOHN DOE'

In [33]:
# lower
new_name.lower()

'mary doe'

In [34]:
# strip method
"   This string has lots of space. So trim it.   ".strip()

'This string has lots of space. So trim it.'

In [35]:
# We can chain multiple methods: convert to upper then replace 'DOE' with an empty string
# Then remove the extra with space and slice the string starting from position 1 to the end
# Then convert the slice to a title-case string

name.upper().replace('DOE', '').strip()[1: ].title()

'Ohn'

#### Write yours

Use this [documentation](https://docs.python.org/3/library/stdtypes.html#str) as a guide. You'll find `startswith`, `endswith` and others.

## Types and Type Conversions
<a id="types"></a>


### Types

In python, you can check the type of a value using the `type` function. For example

In [36]:
type("a string")

str

In [37]:
name

'John Doe'

In [38]:
# we created the name variable above
type(name)

str

In [39]:
type(age)

int

In [40]:
# remember that height contained decimal places
type(height)

float

### Type Conversions

Use the `int`, `float` and `str` function to convert a value to an integer, float and string respectively.

**Note the the `int` or `float` function can fail if it receives a value it cannot convert (an invalid type)**

In [41]:
my_int = 45
my_float = 45.2
my_string = "12.234"

>The `input` function takes user input from the console and returns a string. There if you ask users for integers/floats e.g age and amount, you should convert the input with the appropriate function i.e.`int` or `float` respectively.

In [48]:
my_string_is_now_a_float = float(my_string)

print("my_string: '{}'' is of type '{}'".format(my_string, type(my_string)))
print("my_string_is_now_a_float: '{}'' is of type '{}'".format(my_string_is_now_a_float, type(my_string_is_now_a_float)))

my_string: '12.234'' is of type '<class 'str'>'
my_string_is_now_a_float: '12.234'' is of type '<class 'float'>'

In [50]:
# convert integer to float
float(my_int)

45.0

In [51]:
# convert float to integer - decimal place is lost
int(my_float)

45

In [52]:
# convert float to integer - decimal place is lost
int(my_string_is_now_a_float)

12

In [54]:
# convert integer to string
str(my_int)

'45'

In [55]:
# convert float to string
str(my_float)

'45.2'